.card-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.card {
  width: 23rem;
}

.card-title {
  user-select: none;
}

// Overwrite Bootstrap rule
.col {
  flex-grow: unset;
}