<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header card-header-info">
                        <h4 class="card-title ">Bills</h4>
                        <p class="card-category">List of bills for orders.</p>
                    </div>
                    <div class="card my-0 px-3">
                        <button [routerLink]="['bill/'+'0']" class="btn btn-primary my-3">
                            Create new bill
                        </button>
                    </div>
                    <div class="card-body col-6 d-flex">
                        <input name="phrase" (keyup)="onChangePhrase($event)"
                            class="form-control" type="text"
                            placeholder="Enter filtering phrase...">
                        <select class="custom-select ml-2"
                            (change)="onChangeKey($event)">
                            <option
                                *ngFor="let attribute of attributes | keyvalue:originalOrder"
                                [value]="attribute.key"
                                [selected]="setDefault(attribute.key)">Filter by
                                {{attribute.value}}</option>
                        </select>
                    </div>
                    <div *ngIf="updating" class="d-flex justify-content-center">
                        <mat-spinner></mat-spinner>
                    </div>
                    <div *ngIf="!updating" class="card-body">
                        <div class="table-responsive">
                            <table class="table">
                                <thead class="text-primary">
                                    <th *ngFor="let attribute of attributes | keyvalue:originalOrder"
                                        (click)="onColumnSelect(attribute.key)">
                                        {{attribute.value}}
                                        <span
                                            *ngIf="(sortOrder[attribute.key] === 'ascending' )"><i
                                                class="fa fa-angle-up"></i></span>
                                        <span
                                            *ngIf="(sortOrder[attribute.key] === 'descending' )"><i
                                                class="fa fa-angle-down"></i></span>
                                    </th>
                                </thead>
                                <tbody>
                                    <tr
                                        *ngFor="let bill of billList$ | async | filter:phrase:filterKey | sorter:sorterKey:sortDirection">
                                        <td
                                            *ngFor="let attribute of attributes | keyvalue:originalOrder">
                                            {{ bill[attribute.key] }}</td>
                                        <td>
                                            <div class="btn-group">
                                                <button [routerLink]="['bill/'+ bill.id]"
                                                    class="btn btn-info">
                                                    <i class="fa fa-pencil"></i>
                                                </button>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>