<div class="glass">

    <div class="perspective-text">
        <div class="perspective-line">
          <p></p>
          <p>It was</p>
        </div>
        <div class="perspective-line">
          <p>It was</p>
          <p>a fantastic</p>
        </div>
        <div class="perspective-line">
          <p>a fantastic</p>
          <p>two weeks</p>
        </div>
        <div class="perspective-line">
          <p>two weeks</p>
          <p>with you</p>
        </div>
        <div class="perspective-line">
          <p>with you</p>
          <p></p>
        </div>
      </div>

</div>