<div class="row">
  <div *ngIf="order" class="col-6 offset-3 mt-5">
    <form #orderForm="ngForm" (ngSubmit)="setOrderToDatabase(order)">
      <div class="form-group">
        <label for="customer">customerID</label>

        <input
          [(ngModel)]="order.customerID"
          id="customer"
          name="customer"
          type="number"
          class="form-control"
          required
          pattern="[1-9]\d?\d?\d?"
          [disabled]="!updating"
          autofocus
        />
        <!-- itt a mezők üresen maradnak -->
        <!-- <input
          id="customerID"
          type="string"
          name="customerID"
          class="form-control"
          [(ngModel)]="choosenCustomer"
          [ngbTypeahead]="search"
          [resultFormatter]="customerResultFormatter"
          [inputFormatter]="customerIputFormatter"
          #instance="ngbTypeahead"
        /> -->
        <!-- ez részlegesen működik, de a customer mező üresen marad  -->
        <!-- <input
          id="customerID"
          type="string"
          name="customerID"
          value="order.customerID"
          class="form-control"
          [(ngModel)]="chosenCustomer"
          [ngbTypeahead]="search"
          [resultFormatter]="customerResultFormatter"
          [inputFormatter]="customerIputFormatter"
          #instance="ngbTypeahead"
        /> -->

        <div
          [hidden]="
            orderForm.controls.customer?.valid ||
            orderForm.controls.customer?.pristine
          "
          class="error-message"
        >
          Kötelezően kitöltendő mező! Maximum 4-jegyű szám.
        </div>
      </div>
      <div class="form-group">
        <label for="product">ProductID</label>
        <input
          id="product"
          [(ngModel)]="order.productID"
          name="product"
          type="number"
          class="form-control"
          pattern="[1-9]\d?\d?\d?\d?"
          required
        />
        <div
          [hidden]="
            orderForm.controls.product?.valid ||
            orderForm.controls.product?.pristine
          "
          class="error-message"
        >
          Kötelezően kitöltendő mező! Maximum 5-jegyű szám.
        </div>
      </div>
      <div class="form-group">
        <label for="amount">Amount</label>
        <input
          [(ngModel)]="order.amount"
          id="amount"
          name="amount"
          type="number"
          class="form-control"
          pattern="[1-9]\d?"
          required
        />
        <div
          [hidden]="
            orderForm.controls.amount?.valid ||
            orderForm.controls.amount?.pristine
          "
          class="error-message"
        >
          Kötelezően kitöltendő mező! Maximum 2-jegyű szám.
        </div>
      </div>
      <div class="form-group">
        <label for="status">Status</label>
        <!-- <input
          [(ngModel)]="order.status"
          id="status"
          name="status"
          type="text"
          class="form-control"
          required
          pattern="^(new|shipped|paid)$"
        /> -->
        <select
          [(ngModel)]="order.status"
          class="form-control"
          id="status"
          name="status"
          pattern="^(new|shipped|paid)$"
        >
          <option value="new">new</option>
          <option value="shipped">shipped</option>
          <option value="paid">paid</option>
        </select>

        <!-- new|shipped|paid -->
        <div
          [hidden]="
            orderForm.controls.status?.valid ||
            orderForm.controls.status?.pristine
          "
          class="error-message"
        >
          Kötelezően kitöltendő mező! Csak new, shipped vagy paid lehet.
        </div>
      </div>
      <button
        [disabled]="orderForm.invalid || updating"
        class="btn btn-block btn-primary"
      >
        <i *ngIf="!updating" class="fa fa-save"></i>
        <i *ngIf="updating" class="fa fa-refresh"></i>
      </button>
    </form>
  </div>
</div>
