<div class="row" *ngIf="product">
    <div class="col-12 col-xl-10 offset-xl-1">
        <div class="card">

            <!-- CARD HEADER -->
            <div class="card-header card-header-danger">
                <h4 class="card-title ">{{ title }}: {{ id }}</h4>
            </div>

            <!-- CARD BODY -->
            <div class="card-body">
                <form class="form__border" #productForm="ngForm" (ngSubmit)="onFormSubmit(productForm, product)">

                    <div class="form__column">
                        <div class="form-group form__group" *ngIf="id > 0" title="ID is not editable.">
                            <label>ID</label>
                            <input [(ngModel)]="product.id" name="id" type="number"  
                                class="form-control" pattern="" disabled>
                        </div>        
                
                        <div class="form-group form__group">
                            <label>Name</label>
                            <input [(ngModel)]="product.name" name="name" type="text" 
                                class="form-control" pattern=".{3,30}" required>
                            <i class="fa fa-exclamation-triangle alert__triangle" aria-hidden="true" [hidden]="productForm.controls.name?.valid"></i>
                            <div [hidden]="productForm.controls.name?.valid || productForm.controls.name?.pristine" class="alert alert-danger alert__anim">
                                The Name must be a minimum of 3 and a maximum of 30 characters long! 
                            </div>
                        </div>
                
                        <div class="form-group form__group">
                            <label>Type</label>
                            <input [(ngModel)]="product.type" name="type" type="text" 
                                class="form-control" pattern=".{3,30}" required>
                            <i class="fa fa-exclamation-triangle alert__triangle" aria-hidden="true" [hidden]="productForm.controls.type?.valid"></i>
                            <div [hidden]="productForm.controls.type?.valid || productForm.controls.type?.pristine" class="alert alert-danger alert__anim">
                                The type must be a minimum of 3 and a maximum of 30 characters long! 
                            </div>
                        </div>
                
                        <div class="form-group form__group">
                            <label>catID</label>
                            <input [(ngModel)]="product.catID" name="catID" type="number" 
                                class="form-control" pattern="[0-9]{1,4}+$" required>
                            <i class="fa fa-exclamation-triangle alert__triangle" aria-hidden="true" [hidden]="productForm.controls.catID?.valid"></i>
                            <div [hidden]="productForm.controls.catID?.valid || productForm.controls.catID?.pristine" class="alert alert-danger alert__anim">
                                Please get a number!
                            </div>
                        </div>
                    </div>
        
                    <div class="form__column">
                        <div class="form-group form__group">
                            <label>Description</label>
                            <input [(ngModel)]="product.description" name="description" type="text" 
                                class="form-control" pattern=".{4,100}" required>
                            <i class="fa fa-exclamation-triangle alert__triangle" aria-hidden="true" [hidden]="productForm.controls.description?.valid"></i>
                            <div [hidden]="productForm.controls.description?.valid || productForm.controls.description?.pristine" class="alert alert-danger alert__anim">
                                The description must be a minimum of 4 and a maximum of 100 characters long! 
                            </div>
                        </div>

                        <div class="form-group form__group">
                            <label>Price</label>
                            <input [(ngModel)]="product.price" name="price" type="number" 
                                class="form-control" pattern="[0-9]{1,20}" required>
                            <i class="fa fa-exclamation-triangle alert__triangle" aria-hidden="true" [hidden]="productForm.controls.price?.valid"></i>
                            <div [hidden]="productForm.controls.price?.valid || productForm.controls.price?.pristine" class="alert alert-danger alert__anim">
                                Please get a number!
                            </div>
                        </div>
                
                        <div class="form-group form__group">
                            <label>Featured</label>
                            <input [(ngModel)]="product.featured" name="featured" type="checkbox" 
                                class="form-check-input ml-2">
                        </div>

                        <div class="form-group form__group">
                            <label>Active</label>
                            <input [(ngModel)]="product.active" name="active" type="checkbox" 
                                class="form-check-input ml-2">
                        </div>
                
                    </div>
                    
                    <button [disabled]="productForm.invalid || updating" class="btn btn-block btn-success">
                      <i *ngIf="!updating" class="fa fa-save"></i>
                      <i *ngIf="updating" class="fa fa-refresh"></i>
                    </button>

                </form>
            </div>

        </div>
    </div>
</div>