<div class="row">
  <div class="col-6 offset-3">
    <form #categoryForm="ngForm" (ngSubmit)="onFormSubmit(categoryForm)">
      
      <div class="form-group">
          <label>ID</label>
          <input [(ngModel)]="category.id" name="id" type="number" 
              class="form-control" pattern="" required>
          <div [hidden]="categoryForm.controls.id?.valid" class="error-message">
              The ID must be a minimum of 1 and a maximum of 5 number long! 
          </div>
      </div>        
      
      <div class="form-group">
          <label>Name</label>
          <input [(ngModel)]="category.name" name="name" type="text" 
              class="form-control" pattern=".{5,20}" required>
          <div [hidden]="categoryForm.controls.name?.valid" class="error-message">
              The name must be a minimum of 5 and a maximum of 20 characters long! 
          </div>
      </div>

      <div class="form-group">
          <label>Description</label>
          <input [(ngModel)]="category.description" name="name" type="text" 
              class="form-control" pattern=".{5,20}" required>
          <div [hidden]="categoryForm.controls.description?.valid" class="error-message">
              The description must be a minimum of 5 and a maximum of 20 characters long! 
          </div>
      </div>


      <div class="form-group">
          <label>active</label><br>
          <input [(ngModel)]="category.active" name="active" type="checkbox" 
              class="form-check-input">
      </div>

      
      <button [disabled]="categorytForm.invalid || updating" class="btn btn-block btn-primary">
        <i *ngIf="!updating" class="fa fa-save"></i>
        <i *ngIf="updating" class="fa fa-refresh"></i>
      </button>
    </form>
  </div>
</div>