<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="card d-flex">
                    <div class="card-header card-header-primary mb-4 w-50 mx-auto">
                        <ng-container *ngIf="(order$ | async) as order">
                            <h4 *ngIf="order.id == 0" class="card-title">Create new order</h4>
                            <h4 *ngIf="order.id != 0" class="card-title">Edit order</h4>
                        </ng-container>
                    </div>
                    <div class="row">
                        <div *ngIf="(order$ | async) as order" class="col-6 offset-3">
                            <form #orderForm="ngForm" (ngSubmit)="onUpdate(orderForm, order)">
                                <div class="form-group">
                                    <label for="customerID">{{ attributes.customerID }}<span class="star"> *</span></label>
                                    <input name="customerID" [(ngModel)]="order.customerID" type="number" class="form-control" required>
                                </div>
                                <div class="form-group">
                                    <label for="productID">{{ attributes.productID }}<span class="star"> *</span></label>
                                    <input name="productID" [(ngModel)]="order.productID" type="number" class="form-control" required>
                                </div>
                                <div class="form-group">
                                    <label for="amount">{{ attributes.amount }}<span class="star"> *</span></label>
                                    <input name="amount" [(ngModel)]="order.amount" type="number" class="form-control" required>
                                </div>
                                <div class="form-group">
                                    <label for="status">{{ attributes.status }}<span class="star"> *</span></label>
                                    <select name="status" class="custom-select" [(ngModel)]="order.status" required>
                                        <option>new</option>
                                        <option>paid</option>
                                        <option>sihpped</option>
                                    </select>
                                </div>
                                <button [disabled]="orderForm.invalid" [disabled]="clicked" type="submit"
                                    class="btn btn-primary btn-block btn-lg">
                                    <i id="saveicon" class="fa fa-save"></i>
                                </button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>