@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

.table {
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
}

.bg-dark:hover {
  cursor: pointer,
}
.material-icons {
  font-size: 24px,
}
#arrow {
  display: flex;
  justify-content: flex-end,
}

.icon-white {
  color: white;
  font-size: 50px;
}
th {
  user-select: none;
}
.button4 {border-radius: 12px;}






