@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

.table {
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
}

.bg-dark:hover {
  cursor: pointer,
}
.material-icons {
  font-size: 24px,
}
#arrow {
  display: flex;
  justify-content: flex-end,
}

.icon-white {
  color: red;
  font-size: 50px;
  padding-right: 4px;

}

th {
  user-select: none;
}

#backup {
  position: absolute;
  bottom: 5rem;
  right: 4rem;
}
tbody > tr > td {

  height:20px;
  padding:0px;
  border-top: 0px;
}
.ujrendeles{
 margin-top: 0;
 margin-bottom: 0;
}





