<div class="container">
  <div class="row">
    <div class="col-4 offset-5 mb-3 mt-0">
      <h2>RENDELÉSEK</h2>
    </div>

    <div class="ujrendeles col-12 my-3 mb-3">
      <button
        class="btn btn-success btn-block mt-3 mb-3"
        style="font-size: 14px"
        [routerLink]="[0]"
      >
        <i class="material-icons">add</i> Új rendelés
      </button>
    </div>

    <div class="col-3 mt-0 mb-3">
      <select
        [(ngModel)]="filterKey"
        class="custom-select bg-light"
        style="font-size: 20px"
      >
        <option *ngFor="let col of cols" [value]="col.key">
          {{ col.text }}
        </option>
      </select>
    </div>

    <div class="col-4 search-bar mt-0 mb-3">
      <form class="form-inline my-2 my-lg-0">
        <input
          (keyup)="onChangePhrase($event)"
          class="form-control mr-sm-2"
          type="text"
          placeholder="Keresés"
        />
        <button
          class="btn btn-success ml-lg-2 my-2 my-sm-0"
          type="submit"
          style="font-size: 14px"
        >
          <i class="material-icons">manage_search</i> Keresés
        </button>
      </form>
    </div>

    <div class="col-5 mt-0 mb-5 d-flex justify-content-end">
      <button
        class="btn btn-success my-2 my-sm-0"
        (click)="scroll('summaries')"
      >
        STATISZTIKA
      </button>
    </div>
  </div>
  <table class="table table-striped">
    <thead class="bg-dark text-light">
      <tr>
        <th (click)="onColumnSelect(col.key)" *ngFor="let col of cols"><b>
          <span *ngIf="col.key === sortedColumn && !firstSorting">
            <i *ngIf="!direction" class="fa fa-sort-alpha-desc"></i>
            <i *ngIf="direction" class="fa fa-sort-alpha-asc"></i>
          </span>

          {{ col.text }}
        </b></th>

        <th class="d-flex justify-content-center"><b>Műveletek</b></th>
        <!-- <th (click)="onColumnSelect('id')"><b>#</b></th>
          <th (click)="onColumnSelect('customerID')"><b style="font-size: 18px">Vásárlók</b></th>
          <th (click)="onCnolumnSelect('productID')"><b style="font-size: 18px">Termékek</b></th>
          <th (click)="onColumnSelect('amount')"><b style="font-size: 18px">Mennyiség</b></th>
          <th (click)="onColumnSelect('status')"><b style="font-size: 18px">Státusz</b></th> -->
      </tr>
    </thead>
    <tbody>
      <tr class="tablerow" style="padding-bottom: 1px;"
        *ngFor="
          let order of orderList$
            | async
            | filter: filterKey:phrase
            | sorter: sortedColumn:sortedOrder
            | orderBindings
        "
      >
        <td >{{ order.id }}</td>
        <td>{{ order.customerID }}</td>
        <td>{{ order.productID }}</td>
        <td>{{ order.amount }}</td>
        <td>{{ order.status }}</td>
        <td>
          <div class="btn-group d-flex justify-content-end">
            <button [routerLink]="[order.id]" class="btn btn-info">
              <i class="material-icons">edit</i>
            </button>
            <button (click)="onRemove(order)" class="btn btn-danger">
              <i class="material-icons">delete_outline</i>
            </button>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
  <div class="table-responsive">
    <table class="table" id="summaries">
      <thead class="bg-dark text-light">
        <tr>
          <th></th>
          <th></th>
          <th></th>
          <th></th>
          <div class="row mt-4 d-flex justify-content-space-evenly">
            <th></th>
            <div *ngIf="numberOfAllOrders$ | async">
              <p>

                <b style="font-size: 18px">
                  ͏͏͏͏͏͏͏Összes rendelések száma: {{ numberOfAllOrders$ | async }}</b
                >
              </p>
            </div>
            <th></th>
            <th></th>
            <th></th>
            <div *ngIf="numberOfShippedOrders$ | async">
              <p>
                <b style="font-size: 18px"
                  >Kiszállított rendelések száma:
                  {{ numberOfShippedOrders$ | async }}</b
                >
              </p>
            </div>
            <th></th>
            <th></th>
            <th></th>
            <div *ngIf="numberOfUnpaidOrders$ | async">
              <p>
                <b style="font-size: 18px">
                  ͏͏͏͏͏͏͏Még nem fizetett rendelések száma:
                  {{ numberOfUnpaidOrders$ | async }}</b
                >
              </p>
            </div>
            <th></th>
            <th></th>
          </div>
        </tr>
      </thead>
      <tbody></tbody>
    </table>
    <footer>

    </footer>
  </div>
</div>
<div id="backup"  class="d-flex justify-content-end">
  <a
    href="#top"
    onclick="self.scrollTo(0, 0); return false;"
    class="material-icons icon-white"
    d-flex
    justify-content-end
    >backup</a
  >
</div>
