<div class="row mx-2">
  <div class="card card-stats d-flex flex-column">
    <div class="card-header card-header-icon mt-auto" class="{{ cardClass }}">
      <div class="card-icon">
        <i class="material-icons">{{ icon }}</i>
      </div>
      <p class="card-category">{{ content }}</p>
      <h3 class="card-title">{{ title }} {{ unit }}</h3>
    </div>
    <div class="card-footer">
      <div class="stats">
        <i class="material-icons foot mt-auto">{{ footIcon }}</i>
        <span class="ml-2"> {{ footer }}</span>
      </div>
    </div>
  </div>
</div>
