<div class="container top">
    <a class="jump-top" href="bills#top"><i class="fa fa-arrow-circle-up"></i></a>
    <div class="row">
        <div class="col-4 offset-5 mb-3">
            <h2>PÉNZTÁR</h2>
        </div>

        <div class="create col-12 my-3">
            <!-- <div class="col-5"> -->
            <button class="btn btn-success btn-block mt-3 mb-3" style="font-size:14px" [routerLink]="[0]">
                <i class="material-icons">add</i>
                ÚJ SZÁMLA LÉTREHOZÁSA
            </button>
        </div>

        <div class="col-3 mt-0 mb-5">
            <select [(ngModel)]="filterKey" class="custom-select bg-light" style="font-size: 20px">
                <option *ngFor="let col of cols" [value]="col.key">
                    {{ col.text }}
                </option>
            </select>
        </div>

        <div class="col-4 search-bar mt-0 mb-5">
            <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="text" placeholder="Keresés" (keyup)="onChangePhrase($event)">
                <button class="btn btn-success ml-3 my-2 my-sm-0" type="submit">
                    <i class="material-icons">manage_search</i>
                    Keresés
                </button>
            </form>
        </div>
        <div class="col-5 mt-0 mb-5 d-flex justify-content-end">
            <button class="btn btn-success my-2 my-sm-0" (click)="scroll('summaries')">STATISZTIKA</button>
            <!-- </div> -->
        </div>

    </div>

    <table class="table table-striped">
        <thead class="bg-dark text-light">
            <tr>
                <th (click)="onColumnSelect(col.key)" *ngFor="let col of cols">
                    <span *ngIf='col.key === sortedColumn && ! firstSorting'>
                        <i *ngIf="!direction" class="fa fa-sort-alpha-desc"></i>
                        <i *ngIf="direction" class="fa fa-sort-alpha-asc"></i>
                    </span>

                    {{ col.text }}
                </th>
                <th class="d-flex justify-content-end mr-5">Műveletek</th>
            </tr>
        </thead>
        <tbody>

            <tr class="tablerow"
                *ngFor="let bill of billList$ | async | filter:filterKey:phrase | sorter:sortedColumn:sortedOrder">
                <td>{{bill.id}}</td>
                <td>{{bill.orderID}} </td>
                <td>{{bill.amount | hunFormat }}</td>
                <td>{{bill.status}}</td>
                <td>
                    <div class="btn-group d-flex justify-content-end">
                        <button [routerLink]="[bill.id]" class="btn btn-info">
                            <i class="material-icons">edit</i>
                        </button>
                        <button (click)="onRemove(bill)" class="btn btn-danger">
                            <i class="material-icons">delete_outline</i>
                        </button>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
    <div class="table-responsive">
        <table class="table" id="summaries">
            <thead class="bg-dark text-light">
                <div class="ml-3" *ngIf="numberOfAllBills$ | async">
                    ͏͏͏͏͏͏͏<p> <b style="font-size: 18px">Összes számla: {{ numberOfAllBills$ | async }}</b></p>
                </div>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <div class="ml-3" *ngIf="sumOfUnpaidBills$ | async | hunFormat">
                    ͏͏͏͏͏͏͏<p>
                        <b style="font-size: 18px">Fizetetlen számlák összege: {{ sumOfUnpaidBills$ | async | hunFormat
                            }} Ft
                        </b>
                    </p>
                </div>
            </thead>
            <tbody></tbody>
        </table>
    </div>
</div>