<div class="container top">
    <a class="jump-top" href="products#top"><i class="fa fa-arrow-circle-up"></i></a>
    <div class="row">
        <div class="col-4 offset-5 mb-3 mt-0">
            <h2>TERMÉKEK</h2>
        </div>

        <div class="col-12 my-3 mb-3">
            <button class="btn btn-success btn-block mt-3 mb-3" style="font-size:14px" [routerLink]="[0]">
                <i class="material-icons">add</i> ÚJ TÉTEL LÉTREHOZÁSA
            </button>
        </div>


        <div class="col-3 mt-0 mb-3">
            <select [(ngModel)]="filterKey" class="custom-select bg-light" style="font-size: 20px">
                <option *ngFor="let col of cols" [value]="col.key">
                    {{ col.text }}
                </option>
            </select>
        </div>

        <div class="col-4 search-bar mt-0 mb-3">
            <form class="form-inline my-2 my-lg-0">
                <input (keyup)="onChangePhrase($event)" class="form-control mr-sm-2" type="text"
                    placeholder="Keresés" />
                <button class="btn btn-success my-2 my-sm-0" type="submit">
                    <i class="material-icons">manage_search</i> Keresés
                </button>
            </form>
        </div>

        <div class="col-5 mt-0 mb-5 d-flex justify-content-end">
            <button class="btn btn-success my-2 my-sm-0" (click)="scroll('summaries')">STATISZTIKA</button>
        </div>
    </div>

    <table class="table table-striped">
        <thead class="bg-dark text-light">
            <tr>
                <th (click)="onColumnSelect(col.key)" *ngFor="let col of cols"><b>
                        <span *ngIf='col.key === sortedColumn && !firstSorting'>
                            <i *ngIf="!direction" class="fa fa-sort-alpha-desc"></i>
                            <i *ngIf="direction" class="fa fa-sort-alpha-asc"></i>
                        </span>

                        {{ col.text }}
                    </b></th>
                <th><b>Műveletek</b></th>
                <th></th>
                <!-- <th (click)="onColumnSelect('id')"> <b>#</b></th>
                <th (click)="onColumnSelect('name')"><b style="font-size: 18px">Termék név</b></th>
                <th (click)="onColumnSelect('type')"><b style="font-size: 18px">Típus</b></th>
                <th (click)="onColumnSelect('catId')"><b style="font-size: 18px">catId</b></th>
                <th (click)="onColumnSelect('description')"><b style="font-size: 18px">Leírás</b></th>
                <th (click)="onColumnSelect('price')"><b style="font-size: 18px">Ár(Ft)</b></th>
                <th (click)="onColumnSelect('featured')"><b style="font-size: 18px">Kiemelt</b></th>
                <th (click)="onColumnSelect('active')"><b style="font-size: 18px">Aktív</b></th>
                <th (click)="onColumnSelect('operations')"><b style="font-size: 18px">Műveletek</b></th>
                <th><i *ngIf="!direction" class="material-icons">keyboard_arrow_up</i>
                    <i *ngIf="direction" class="material-icons">keyboard_arrow_down</i>
                </th> -->

            </tr>
        </thead>
        <tbody>
            <tr class="tablerow" style="padding-bottom: 1px;"
                *ngFor="let product of productList | async | filter:filterKey:phrase | sorter:sortedColumn:sortedOrder ">
                <td>
                    <span>{{ product.id }}</span>
                </td>
                <td>{{product.name}} </td>
                <td>{{product.type}}</td>
                <td>{{product.catId}}</td>
                <td>{{product.description}}</td>
                <td>{{product.price | hunFormat }}</td>
                <td>
                    <input class="form-control form-control-sm" [(ngModel)]="product.featured" type="checkbox" disabled>
                </td>
                <td><input class="form-control form-control-sm" [(ngModel)]="product.active" type="checkbox" disabled>
                </td>
                <td>{{product.operations}}
                    <div class="btn-group d-flex justify-content-end">
                        <button [routerLink]="[product.id]" class="btn btn-info">
                            <i class="material-icons">edit</i>
                        </button>
                        <button (click)="onRemove(product)" class="btn btn-danger">
                            <i class="material-icons">delete_outline</i>
                        </button>
                    </div>
                </td>
                <td></td>
            </tr>
        </tbody>
    </table>

    <div class="table-responsive">
        <table class="table" id="summaries">
            <thead class="bg-dark text-light">
                <tr>
                    <th></th>
                    <th></th>
                    <div *ngIf="numberOfAllProducts$ | async">
                        ͏͏͏͏͏͏͏<p> <b style="font-size: 18px">Összes termék: {{ numberOfAllProducts$ | async }}</b></p>
                    </div>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <div *ngIf="(numberOfFeaturedProducts$ | async) !==-1">
                        ͏͏͏͏͏͏͏<p> <b style="font-size: 18px"> Kiemelt termékek száma: {{ numberOfFeaturedProducts$ |
                                async }}
                            </b></p>
                    </div>
                    <th></th>
                    <div *ngIf="numberOfActiveProducts$ | async">
                        ͏͏͏͏͏͏͏<p> <b style="font-size: 18px">Aktív termékek száma: {{ numberOfActiveProducts$ | async
                                }}</b></p>
                    </div>
                </tr>
            </thead>
            <tbody>
        </table>
    </div>
</div>