<div class="container">
    <div class="row">
        <div class="col-8 offset-2">
            <h2 class="text-center mb-5 mt-5">Összes termék</h2>
        </div>

        <div class="col-12 my-3 mb-3">
            <button class="btn btn-success btn-block" [routerLink]="[0]">
        <i class="material-icons">edit</i>
                Új tétel létrehozása
            </button>
        </div>
     <div class="d-flex justify-content-center col-12 my-3">
            <div class="mr-5">
                <select [(ngModel)]="filterKey" class="form-control">
                    <option *ngFor="let key of filterKeys" [value]="key">
                        {{ key }}
                    </option>
                </select>
            </div>
            <div class="search-bar">
                <form class="form-inline my-2 my-lg-0 d-flex justify-content-center">
                    <input (keyup)='onChangePhrase($event)' class="form-control mr-sm-2" type="text" placeholder="Keresés">
                    <button class="btn btn-primary mt-4 my-sm-0 ml-3" type="button"> <i class="fa fa-search"></i>
                        Keresés</button>
                </form>
            </div>
        </div>
        <table class="table table-striped">
            <thead class="thead-dark">
                <tr>
                    <th (click)="onColumnSelect('id')"> <b>#</b></th>
                    <th (click)="onColumnSelect('name')"><b>Név</b></th>
                    <th (click)="onColumnSelect('type')"><b>Típus</b></th>
                    <!-- <th (click)="onColumnSelect('catID')">CatID</th> -->
                    <th (click)="onColumnSelect('description')"><b>Leírás</b></th>
                    <th (click)="onColumnSelect('price')"><b>Ár</b></th>
                    <th><i *ngIf="!irany" class="fa fa-arrow-up"></i>
                        <i *ngIf="irany" class="fa fa-arrow-down"></i>
                    </th>
                </tr>
            </thead>
            <tbody>

                <tr *ngFor="let product of productList | async | filter:phrase:filterKey | sorter:columnKey">

                    <td>
                        <span>{{ product.id }}</span>
                    </td>
                    <td>{{product.name}} </td>
                    <td>{{product.type}}</td>
                    <!-- <td>{{product.catID}}</td> -->
                    <td>{{product.description}}</td>
                    <td>{{product.price}}</td>
                    <td>

                        <div class="btn-group">
                            <button [routerLink]="[product.id]" class="btn btn-info">
                                <i class="fa fa-pencil"></i>
                            </button>
                            <button (click)="onRemove(product)" class="btn btn-danger">
                                <i class="fa fa-trash"></i>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>