<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header card-header-danger">
                        <h4 class="card-title">Customer Profile</h4>
                        <!-- <p class="card-category">Complete your profile</p> -->
                    </div>
                    <div class="card-body">
                        <form #customerFrom="ngForm" (ngSubmit)="onFormSubmit(customerFrom)">
                            <div class="row">
                                <div class="col-md-4">
                                    <mat-form-field class="example-full-width">
                                        <input matInput [placeholder]="attributes.firstName.title" type="text" [(ngModel)]="customer.firstName" name="firstName" required pattern="[A-Z].{2,}">
                                    </mat-form-field>
                                    <div [hidden]="customerFrom.controls.firstName?.valid" class="error-message">
                                        {{attributes.firstName.title}} is required and must start with a capital letter and be at least 3 characters long!
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <mat-form-field class="example-full-width">
                                        <input matInput [placeholder]="attributes.lastName.title" type="text" [(ngModel)]="customer.lastName" name="lastName" required pattern="[A-Z].{2,}">
                                    </mat-form-field>
                                    <div [hidden]="customerFrom.controls.lastName?.valid" class="error-message">
                                        {{attributes.lastName.title}} is required and must start with a capital letter and be at least 3 characters long!
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <mat-form-field class="example-full-width">
                                      <input matInput [placeholder]="attributes.email.title" type="email" [(ngModel)]="customer.email" name="email" required pattern="[\w-\.]+@([\w-]+\.)+[\w-]{2,4}">
                                    </mat-form-field>
                                    <div [hidden]="customerFrom.controls.email?.valid" class="error-message">
                                        {{attributes.email.title}} is required and must be a valid email!
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                            </div>
                            <div class="row">
                                <div class="col-md-1">
                                    <mat-form-field class="example-full-width">
                                        <input matInput [placeholder]="attributes.zip.title" type="text" [(ngModel)]="customer.address.zip" name="zip" required pattern="[A-Z\d]{3,4}">
                                    </mat-form-field>
                                    <div [hidden]="customerFrom.controls.zip?.valid" class="error-message">
                                        {{attributes.zip.title}} is required must be 3 or 4 characters and can contain only uppercase letters or numbers!
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <mat-form-field class="example-full-width">
                                        <input matInput [placeholder]="attributes.country.title" type="text" [(ngModel)]="customer.address.country" name="country" required pattern="[A-Z].{2,}">
                                    </mat-form-field>
                                    <div [hidden]="customerFrom.controls.country?.valid" class="error-message">
                                        {{attributes.country.title}} is required and must start with a capital letter and be at least 3 characters long!
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <mat-form-field class="example-full-width">
                                        <input matInput [placeholder]="attributes.city.title" type="text" [(ngModel)]="customer.address.city" name="city" required pattern="[A-Z].{2,}">
                                    </mat-form-field>
                                    <div [hidden]="customerFrom.controls.city?.valid" class="error-message">
                                        {{attributes.city.title}} is required and must start with a capital letter and be at least 3 characters long!
                                    </div>
                                </div>
                                <div class="col-md-4">
                                  <mat-form-field class="example-full-width">
                                    <input matInput [placeholder]="attributes.street.title" type="text" [(ngModel)]="customer.address.street" name="street" required pattern="[A-Z].{2,}">
                                  </mat-form-field>
                                  <div [hidden]="customerFrom.controls.street?.valid" class="error-message">
                                    {{attributes.street.title}} is required and must start with a capital letter and be at least 3 characters long!
                                </div>
                            </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4">
                                  <mat-form-field class="example-full-width">
                                    <input matInput [placeholder]="attributes.notes.title" type="text" [(ngModel)]="customer.address.notes" name="notes">
                                  </mat-form-field>
                                </div>
                                <div class="col-md-2 form-group">
                                    <label class="d-block" for="active">{{attributes.active.title}}</label>
                                    <input id="active" name="active" [(ngModel)]="customer.active" type="checkbox">
                                </div>
                            </div>
                            <button mat-raised-button [disabled]="customerFrom.invalid" class="btn btn-danger pull-right">
                                <span *ngIf="customer.id>0">Update Profile</span>
                                <span *ngIf="customer.id==0">Create Profile</span>
                            </button>
                            <div class="clearfix"></div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </div>
  
