html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.filter {
    &__group {
        background-color: rgba(255, 255, 255, .7);
        border-radius: .2rem;
        border: none;
    }
    &-button {
        display: inline-block;
        padding: .37rem 1rem;
        border: 1px solid rgba(150, 150, 150, .35);
        border-radius: .15rem;
        cursor: pointer;
        user-select: none;
        margin: 0 .2rem;
        &:hover {
            background-color: rgba(175, 1, 131, 1);
            border: 1px solid rgba(175, 1, 131, 1);
            color: rgba(255, 255, 255, 1);
        }   
    }
    &__input {
        border: 0;
        border-radius: .3rem;
        background-color: rgba(255, 255, 255, .4);
        transition: all .2s ease-in-out;
        &:hover { background-color: rgba(255, 255, 255, .7); }
        &:focus { background-color: rgba(255, 255, 255, 1); }
    }
    &__select {
        cursor: pointer;
        border: 0;
        border-radius: .3rem;
        background-color: rgba(255, 255, 255, .4);
        transition: all .2s ease-in-out;
        &:hover { background-color: rgba(255, 255, 255, .7); }
        &:focus { background-color: rgba(255, 255, 255, 1); }
    }
}

.th {
    cursor: pointer;
    user-select: none;
    &:hover { border-bottom: 1px solid rgba(175, 1, 131, 1); }
    &__active {
        border-bottom: 2px solid rgba(175, 1, 131, 1) !important;
        &:hover { border-bottom: 2px solid rgba(175, 1, 131, 1); }
    }
}

.material-icons.md-18 {
    font-size: 18px;
    transform: translateY(5px) scale(.7);
}

.arrow {
    display: none;
    &__active { display: inline-block; }
}

.action { width: 200px; }

.form {
    &__border {
        border-radius: .2rem;
        margin: 1rem 2rem;
        padding: 1rem 2rem;
        background-color: rgba(255, 255, 255, 1);
        border: 1px solid rgba(0, 0, 0, .1);
        @media screen and (min-width: 992px) {
            display: flex;
            flex-wrap: wrap;
        }
    }

    &__column {
        width: 100%;
        padding: 0 1rem;
        @media screen and (min-width: 992px) {
            width: 50%;
        }
    }

    &__group {
        position: relative;
        margin: 0;
        padding: .7rem 2rem;
        border-radius: none;
        border: 1px solid rgba(0, 0, 0, 0);
        border-bottom: 1px dotted rgba(0, 0, 0, .2);
        &:focus-within {
            border-radius: .2rem;
            border: 1px solid rgba(156, 39, 176, .5);
            & label  {
                font-weight: 600;
                color: rgba(156, 39, 176, 1);
            }
        }
    }
}


.alert {
    &__anim {
        position: absolute;
        top: -14px;
        right: .5rem;
        opacity: 1;
        padding: .5rem 1rem;
        animation: alert-animation .3s;
        font-size: .8rem;
        width: 80%;
    }

    &__triangle {
        color: #ef5350;
        position: absolute;
        top: 1rem;
        left: .6rem;
    }
}

@keyframes alert-animation {
    0% {
        top: 0px;
        opacity: 0;
    }
    100% {
        top: -14px;
        opacity: 1;
    }
}