<div class="row">

  <div *ngFor="let card of cards" class="col-lg-3 col-md-6 col-sm-6">
    <app-info-card [cardClass]="card.cardClass" [iconClass]="card.iconClass" [iconText]="card.iconText"
      [title]="card.title" [content]="card.content" [footer]="card.footer"></app-info-card>
  </div>
</div>
<div class="row">
  <div *ngFor="let pie of pieCharts" class="col-md-4">
    <app-pie-chart
      [pieChartLabels]="pie.pieChartLabels"
      [pieChartData]="pie.pieChartData"
      [cardColor]="pie.cardColor"
      [cardTitle]="pie.chartCardTitle"
      [cardInfo]="pie.chartCardInfo"
      [cardFooter]="pie.chartCardFooter"
    ></app-pie-chart>
  </div>
</div>
