<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div *ngFor="let card of cards" class="col-xl-3 col-sm-6">
                <app-info-card [cardClass]="card.cardClass" [icon]="card.icon"
                    [title]="card.title" [content]="card.content"
                    [footer]="card.footer">
                </app-info-card>
            </div>
        </div>
        <!-- <div class="row d-flex justify-content-around">
            <div class="card card-chart col-sm-5">
                <div class="card-header card-header-success">
                    <div class="chart">
                        <app-chart></app-chart>
                    </div>
                </div>
                <div class="card-body">
                    <h4 class="card-title">Products and Customers</h4>
                    <p class="card-category">
                        <span class="text-success"><i
                                class="fa fa-long-arrow-up"></i> 55% </span>
                        increase in today sales.
                    </p>
                </div>
                <div class="card-footer">
                    <div class="stats">
                        <i class="material-icons">access_time</i> updated 4
                        minutes ago
                    </div>
                </div>
            </div>
            <div class="card card-chart col-sm-5">
                <div class="card-header card-header-warning">
                    <div class="chart">
                        <app-chart></app-chart>
                    </div>
                </div>
                <div class="card-body">
                    <h4 class="card-title">Email Subscriptions</h4>
                    <p class="card-category">Last Campaign Performance</p>
                </div>
                <div class="card-footer">
                    <div class="stats">
                        <i class="material-icons">access_time</i> campaign
                        sent 2 days ago
                    </div>
                </div>
            </div>
        </div> -->

    </div>
</div>