<div class="container">
  <div class="row">
    <div class="col-4">
      <ul class="navbar-nav">
        <li role="presentation" class="nav-item" routerLink="active">
          <a routerLink="/" class="nav-link">Home</a>
        </li>
        <li class="nav-item" routerLink="active">
          <a routerLink="/products" class="nav-link">Products</a>
        </li>
        <li class="nav-item" routerLink="active">
          <a routerLink="/orders" class="nav-link">Orders</a>
        </li>
        <li class="nav-item" routerLink="active">
          <a routerLink="/order" class="nav-link">Order</a>
        </li>
        <!-- <li class="nav-item" routerLink="active" [routerLinkActiveOptions]="{exact: true}">
          <a routerLink="/customers" class="nav-link">Customers</a>
        </li>
        <li class="nav-item" routerLink="active" [routerLinkActiveOptions]="{exact: true}">
          <a routerLink="/bills" class="nav-link">Bills</a>
        </li> -->
      </ul>
    </div>
  </div>
</div>
